body{

font-family: Arial;
background:#111;
color:white;
text-align:center;

}

.game-container{

margin-top:40px;

}

#movieInput{

padding:10px;
width:250px;
font-size:16px;

}

#suggestions{

width:250px;
margin:auto;
background:#222;

}

#suggestions div{

padding:8px;
cursor:pointer;

}

#suggestions div:hover{

background:#444;

}

#results{

margin-top:40px;

}

.correct{

background:green;
padding:8px;
margin:5px;

}

.close{

background:orange;
padding:8px;
margin:5px;

}

.wrong{

background:red;
padding:8px;
margin:5px;

}